@keyframes pulse {
  0%{
    filter: hue-rotate(180deg);
  }
  100%{
    filter: hue-rotate(0deg);
  }
}

@keyframes shrink {
  100%{
    width: 0px;
    height: 0;
    background: transparent;
  }
}

body,html {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.notes {
  position: relative;
  margin: 20px 0;
}



.notes:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 40px;
  border: solid black 1px;
  left: 100px;
  box-sizing: border-box;
}

.note {
    height: 40px;
    border-bottom: solid black 1px;
    overflow-x: overlay;
}

.template {
  display: none;
}
.label {
  width: 100px;
  height: 40px;
  display: inline-block;
  float: left;
  font-size: 40px;
}

.step {
  display: inline-block;
  /* border: solid black 1px; */
  width: 40px;
  height: 40px;
  /* border-right: solid black 7px; */
  box-sizing: border-box;
   /* transition: .5s; */
   border-bottom: none;
}

.step.countin{
  opacity: .5;
  background: white;
}



.step.first {
  border-top-left-radius: 100%;
  /* border-bottom-left-radius: 100%; */
  border-right: solid black 1px;
}

.step.last {
  border-top-right-radius: 100%;
  /* border-bottom-right-radius: 100%; */
  border-right: none!important;
  border: none;
}


/* CURRENT NOT_EE!!!! */
.step:nth-child(2) {
  /* animation: shrink .5s linear; */
  border: none!important;
}

.step.hit {
  border-right: solid black 1px;
}

#metronome {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}
